# =================================================
#                    With Docker
# =================================================
name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build Docker image
        run: docker build -t deep-div/cold-email-app:${{ github.sha }} -f docker/dockerfile .

      - name: Run tests inside Docker
        run: docker run --rm deep-div/cold-email-app:${{ github.sha }} python -m pytest tests/ --maxfail=1 --disable-warnings -q

      - name: Push Docker image
        run: docker push deep-div/cold-email-app:${{ github.sha }}
