# =================================================
#                    With Docker
# =================================================
name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build image
        run: docker compose -f docker/docker-compose.yml up --build -d

      # Smoke container name for test, and then image name
      - name: Smoke Test - Container Starts Correctly
        run: |
          docker run -d --name smoke deepdiv/cold-email-app:${{ github.sha }}   
          sleep 5
          docker logs smoke
          docker ps -a | grep smoke
          docker stop smoke
          docker rm smoke

      - name: Push Docker image
        run: docker push deepdiv/cold-email-app:${{ github.sha }}
